.centerwindow {
    width: 650px;
    height: 700px;
    margin: 80px auto 80px auto;
    padding: 50px;
    position: relative;
    border-radius: 20px;
    background-color: #ffdd6a;
}

.title p {
    font-size: 60px;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 800;
    margin: 30px;
}

table {
    border-color: #ffffff;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

table tr {
    text-align: center;
}
table p {
    font-size: 20px;
    font-family: 'Arial',sans-serif;
    margin-top: 10px;
    margin-bottom: 4px;
}

.textbox {
    width: 300px;
    height: 40px;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: 0px;
}

.dropdownlist {
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    background-color: #cc2a41;
    font-weight: bold;
    width: 300px;
    height: 40px;
    text-align: center;
    border: 0px;
    margin-bottom: 10px;
}

form .button {
    width: 450px;
    height: 80px;
    background-color: #ffb600;
    margin-top: 35px;
    border-radius: 35px;
    font-family: 'Arial', sans-serif;
    font-size: 26px;
    border: 0px;
    transition: 0.3s;
}

    form .button:hover {
        width: 450px;
        height: 80px;
        background-color: #ff8b00;
        margin-top: 35px;
        border-radius: 35px;
        font-family: 'Arial', sans-serif;
        font-size: 35px;
        border: 0px;
    }