* {
    font-family: 'Cascadia Code';
}

body {
    padding: 0px;
    margin: 0;
    background-image: url('../Images/Shinsen-gumi.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background: #f1f1f1;
}

.nav-link,
.navbar-brand {
    color: #000;
    cursor: pointer;
}

.navbar-brand {
    margin-left: 80px;
}

.nav-link {
    margin-right: 1em;
    border-radius: 4px;
    font-size: 18px;
}

    .nav-link:hover {
        background-color: #ddd;
        color: #000;
    }

.navbar-collapse a.active {
    color: #fff;
    background-color: dodgerblue;
}

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 80px;
}

.green_container {
    background-color: darkslategrey;
    border-radius: 5px;
    margin: 2em 2em 0em 2em;
    padding: 2em 4em 0 4em;
}

.content-container {
    background: #fff;
    height: 1000px;
    margin: 4em 4em 0em 4em;
    padding: 2em;
    position: relative;
    border-radius: 5px;
}
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}