* {
    font-family: 'Cascadia Code';
}

body {
    padding: 0px;
    margin: 0;
    background-image: url('../Images/Shinsen-gumi.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background: #f1f1f1;
}

.nav-link,
.navbar-brand {
    color: #000;
    cursor: pointer;
}

.navbar-brand {
    margin-left: 80px;
}

.nav-link {
    margin-right: 1em;
    border-radius: 4px;
    font-size: 18px;
}

    .nav-link:hover {
        background-color: #ddd;
        color: #000;
    }

.navbar-collapse a.active {
    color: #fff;
    background-color: dodgerblue;
}

.navbar-collapse {
    justify-content: flex-end;
    margin-right: 80px;
}

.green_container {
    background-color: darkslategrey;
    border-radius: 5px;
    margin: 2em 2em 0em 2em;
    padding: 2em 0em 0 0em;
}

.content-container {
    background: #fff;
    height: 1000px;
    margin: 2em 2em 0em 2em;
    padding: 2em;
    position: relative;
    border-radius: 5px;
    scroll-behavior: smooth;
    overflow: scroll;
}

.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
}

.rightcolumn {
    float: right;
    width: 20%;
    padding-left: 10px;
}

.panel {
    margin: 10px 0px 0px 0px;
    width: 300px;
    list-style: none;
    padding-top: 10px;
    display: inline-block;
}

    .panel li {
        border-radius: 3px 3px 3px 3px;
        margin-top: 5px;
        width: 250px;
        background: #000000;
        background: -moz-linear-gradient(top, #161616 0%, #000000 100%);
        background: -webkit-linear-gradient(top, #161616 0%,#000000 100%);
        background: -o-linear-gradient(top, #161616 0%,#000000 100%);
        border-left: 1px solid #111;
        border-top: 1px solid #111;
        border-right: 1px solid #333;
        border-bottom: 1px solid #333;
    }

    .panel h3 {
        font-family: 'Oxygen Mono', monospace;
        color: #FFFFFF;
        margin: 5px 20px 5px 20px;
        font-size: 23px;
    }

    .panel li a {
        color: #fff;
        font-size: 20px;
        font-family: 'Oxygen Mono', monospace;
        display: block;
        padding: 10px;
    }

        .panel li a:hover {
            color: #00c6ff;
        }

    .panel .animation {
        -moz-transition: all 0.4s ease-in-out;
        -moz-transform: translateX(0px);
        -o-transition: all 0.4s ease-in-out;
        -o-transform: translateX(0px);
        -webkit-transition: all 0.4s ease-in-out;
        -webkit-transform: translateX(0px);
    }

        .panel .animation:hover {
            -moz-transform: translateX(25px);
            -o-transform: translateX(25px);
            -webkit-transform: translateX(25px);
        }

.btn_details {
    border-radius: 5px;
    height: 50px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}


.class-table {
    margin: 2em auto;
}

.feature-title {
    color: #333;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    margin: 2em auto 2em auto;
}

.form-group {
    margin: 2em;
}

.table_custom {
    border: 1px solid #ccc;
    border-collapse: collapse;
    width: 350px;
}

    .table_custom th {
        background-color: #F7F7F7;
        color: #333;
        font-weight: bold;
    }

        .table_custom th td {
            padding: 5px;
            border: 1px solid #ccc;
        }

.auto-style1 {
    width: 300px;
}

.student_list {
    align-items: center;
}

.menu_studentlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.menu_studentlist li {
    float: left;
}

    .menu_studentlist li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        .menu_studentlist li a:hover {
            background-color: whitesmoke;
            color: black;
        }

.quiz {
    text-align:center;
    margin: auto;
    width: 100%;
    font-family: Arial;
    background-color: #FFF8CC;
}

.quiz_content {
    width: 80%;
    margin: auto;
    word-wrap:break-word;
    font-size:large;
}

.quiz_question{
    width:70%;
    text-align:left;
}

.quiz_option{
    padding-top:10px;
    text-align:center;
}

.quiz_score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
}

.btn_submit {
    background-color: #44c767;
    border-radius: 15px;
    border: 1px solid #18ab29;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}

    .btn_submit:hover {
        background-color: #5cbf2a;
    }

    .btn_submit:active {
        position: relative;
        top: 1px;
    }